dialog.mdl-dialog
    h4.mdl-dialog__title À propos
    div.mdl-dialog__content
        p Fait avec ♥ par Ronan Le Pivaingt
        p Avec : 
            a(href="https://vuejs.org/" target="_blank" title="Vue.js")
                img(src="/public/img/vue_logo.png")
            a(href="https://getmdl.io/" target="_blank" title="Material Design Lite"
            style="filter: invert(100%); margin-left: 5%;")
                img(src="/public/img/mdl_logo.svg")
        p
            a(href="https://nodejs.org/" target="_blank" title="Node.js")
                img(src="/public/img/nodejs_logo.png")
            a(href="https://expressjs.com/" target="_blank" title="Express")
                img(src="/public/img/express_logo.png")
        p
            a(href="https://github.com/RonanLePivaingt/Hippymood" target="_blank")
                img(src="/public/img/github_logo.png")
    div.mdl-dialog__actions.mdl-dialog__actions--full-width
        button.mdl-button.close(type="button") Fermer
