div#admin
    button#resetSessions.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect Reset session
    div#resetSessionsSpinner.hideOpacity.mdl-spinner.mdl-js-spinner.is-active
    button#resetDatabase.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect Reset database
    div#resetDatabaseSpinner.hideOpacity.mdl-spinner.mdl-js-spinner.is-active
    button#scanMusic.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect Scan music
    div#scanMusicSpinner.hideOpacity.mdl-spinner.mdl-js-spinner.is-active
