div#player.demo-card-wide.mdl-card.mdl-shadow--2dp
    div.mdl-card__title
        h2.mdl-card__title-text 
            i.material-icons audiotrack
            span {{title}}
    div.mdl-card__supporting-text
        p(v-show="album")
            i.material-icons album
            span {{album}}
        p 
            i.material-icons person
            span#playerArtist {{artist}}
    div#playerButtons.mdl-card__supporting-text
        button#pause.mdl-button.mdl-js-button.mdl-button--icon.mdl-js-ripple-effect.mdl-button--colored.mdl-button--fab
            i.material-icons pause
        button#play.hide.mdl-button.mdl-js-button.mdl-button--icon.mdl-js-ripple-effect.mdl-button--colored.mdl-button--fab
            i.material-icons play_arrow
        span.separator
        button#next.mdl-button.mdl-js-button.mdl-button--icon.mdl-js-ripple-effect.mdl-button--fab
            i.material-icons skip_next
    div#playerGenre.mdl-card__supporting-text
        //span.mdl-chip(v-bind:class="{ 'class-a': allSongGenrePlayed, 'class-b': isB }")
            span.mdl-chip__text {{genre}}
        |<span class="mdl-chip" v-bind:class="{ 'class-a': allSongGenrePlayed, 'class-b': isB }">
        |<span class="mdl-chip__text"> {{genre}} </span>
        |</span>
        span.separator(v-show="nextGenre")
        span.mdl-chip(v-show="nextGenre")
            span.mdl-chip__text {{nextGenre}}
                button#cancelGenre.mdl-chip__action(type="button")
                    i.material-icons cancel
    div#menu.mdl-card__menu
        button#demo-menu-lower-right.mdl-button.mdl-js-button.mdl-button--icon
            i.material-icons more_vert
        ul.mdl-menu.mdl-menu--bottom-right.mdl-js-menu.mdl-js-ripple-effect(for="demo-menu-lower-right")
            a#downloadSong(href="{{path}}" download="{{filename}}")
                li.mdl-menu__item Télécharger la chanson
            a#show-dialog(href="#/")
                li.mdl-menu__item À propos
