div.mdl-grids.searchList#search
    div#backToPlayer
        button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent(onclick="searchPlayerTransition();")
            i.material-icons keyboard_backspace
            span Revenir au lecteur
        div#searchResultSpinner.mdl-spinner.mdl-js-spinner.is-active.hide
    div.searchResult.empty(v-show="!searchResults")
        i.material-icons.expressive-icon mood_bad
        p.material-icons.message-with-icon Aucun résultat trouvé pour la recherche "<span class="searchKeyword">{{ searchKeywords }}</span>"
    div.searchResult.searchForm
        form#searchFormList(action="/Search")
            div#searchInputListDiv.mdl-textfield.mdl-js-textfield.mdl-textfield--expandable
              label.mdl-button.mdl-js-button.mdl-button--icon(for="searchInputList")
                  i#searchIcon.material-icons search
              div.mdl-textfield__expandable-holder
                  input#searchInputList.searchInput.mdl-textfield__input(type="text", value="{{ searchKeywords }}")
                  label.mdl-textfield__label(for="sample-expandable") Expandable Input
    div.searchResult(v-show="searchResults")
        ul.demo-list-three.mdl-list
            li.mdl-list__item.mdl-list__item--three-line(v-for="search in searchResults")
                a(href="#/", v-on:click="playSearchResult($index)" , data-search-index="{{ search.song }}", data-song="{{ search.song }}", data-artist="{{ search.artist }}", data-album="{{ search.album }}", data-path="{{ search.path }}" data-genreId="{{ search.genreId }}")
                    span.mdl-list__item-primary-content
                        i.material-icons.mdl-list__item-avatar play_circle_filled
                        |  
                        span {{ search.song }}
                        |  
                        span.mdl-list__item-text-body
                            | {{ search.artist }}, {{ search.album }}
                        a.searchGenre.mdl-list__item-secondary-action(href='#', v-on:click="playSearchResult($index)")
                            button.mdl-list__item-secondary-action.mdl-button.mdl-js-button.mdl-button--raised {{ search.genre }}
