.DS_Store
node_modules/
music
npm-debug.log
docker/postgres-data
docker-compose.override.yml
config/*
!config/default.json
!config/development.json.dist
!config/production.json.dist
backend/tmp/thumbnails/*
!backend/tmp/thumbnails/.gitkeep
