# Example configuration file, to be renamed as config.js and with the good values
var config = {};

// Database credentials
config.db = {};
config.db.host = "dbHost";
config.db.user = "dbUser";
config.db.password = "dbPassword";
config.db.database = "dbName";

// Time in milliseconds since last visit before reseting the list of played songs (3600000 milliseconds is 1 hour)
config.songList = {};
config.songList.timeSinceVisitReset = 28800000; // 8 hour

// Theme
config.theme = {};
config.theme.name = "default"; // default or the name of your custom theme in the themes directory

// Authentification
config.auth = {};
config.auth.activate = 1; /* 1 to activate authentification, 0 to disable */
config.auth.combination = "384037383940";
config.auth.greetings = "Welcome !";

config.nbTopGenre = 5;

module.exports = config;
