# Example configuration file, to be renamed as config.js and with the good values
var config = {};

config.db = {};

config.db.host = "dbHost";
config.db.user = "dbUser";
config.db.password = "dbPassword";
config.db.database = "dbName";

module.exports = config;
