version: "3.7"

services:
  db:
    # Making database data persistent
    volumes:
      - "./docker/postgres-data:/var/lib/postgresql/data"
  backend:
    volumes:
      - "./:/app"
    working_dir: /app/backend
  frontend:
    volumes:
      - "./:/app"
    working_dir: /app/frontend
    environment:
      NODE_ENV: development
    ports:
      - "8080:8080"
