html
    head
        title HippyMood
        style
            include ../public/css/auth.css
    body
        div#auth
            h1 Hippy Mood
            img#datChips(src="/public/img/chips.jpg")
            div#NESbuttons.action-pane.hide
                .buttons
                    label.label
                        | B
                        button#NESb.button
                    label.label
                        | A
                        button#NESa.button
            p Feel the Chips
            div#debug
        div#appData.hide
        script.
            var auth = 0;
            var authCombination = "#{auth.combination}";
        script
            include ../public/js/mo.min.js
        script
            include ../public/js/genericFunctions.js
            include ../public/js/hammer.min.js
            include ../public/js/jquery-3.1.1.min.js
            include ../public/js/jquery-ui.min.js
            include ../public/js/jquery.ui.touch-punch.min.js
            include ../public/js/intro.js
        style
            include ../public/css/nesButtons.css
