html
    head
        title HippyMood
        style
            include ../public/css/auth.css
    body
        div#auth
            h1 Hippy Mood
            img#datChips(src="/public/")
            p #{auth.greetings}
        div#appData.hide
        script.
            var auth = 0;
            var authCombination = "#{auth.combination}";
        script
            include ../public/js/mo.min.js
        script
            include ../public/js/genericFunctions.js
            include ../public/js/hammer.min.js
        script
            include ../public/js/intro.js
        style
            include ../public/css/nesButtons.css
