html
  head
    title= title
  body
    h1= message
    div.player
      audio#player(autoplay)
    div#app
        span#play play
        p {{title}}
        p {{artist}}
        p {{album}}
    ul
      each val in genres
        a(class="genreItem", href="#", data-href="/genre/" + val.id)
          li(data-id = val.id)= val.name
    div
    script(src="/public/js/vue.js")
    script(src="/public/js/ui.js")
    link(href="/public/css/style.css", rel="stylesheet")
