html
    head
        title HippyMood
        style
            include ../public/css/intro.css
    body
        include ./includes/intro.pug
        script
            include ../public/js/intro.js
        div#appData

        //script(src="/public/js/vue.js")
        //script(src="/public/js/events.js")
        //script(src="/public/js/genericFunctions.js")
        //script(src="/public/js/ui.js")
        //link(href="/public/css/style.css", rel="stylesheet")
        //link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
        //link(href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700", rel="stylesheet")
