html
    head
        title HippyMood
        style
            include ../public/css/intro.css
    body
        include ./includes/intro.pug
        script
            | var auth = 1;
            include ../public/js/intro.js
        div#appData
