.button {
    outline: none;
    transition: all .05s ease;
}
.action-pane {
    display: block;
    vertical-align: top;
    border-bottom: 1px solid transparent;
    margin: 2.6em 0 1em 1.1em; 
}
.hide {
    display: none;
}
.action-pane .label {
    display: inline-block;
    background-color: #ddd;
    border-radius: 0.4rem;
    width: 4rem;
    height: 4rem;
    margin-left: .8rem;
    text-align: right;
    line-height: 6.1em;
    position: relative;
    font-size: 1.5rem; 
}
.action-pane .button {
    position: absolute;
    top: .02rem;
    left: .22rem;
    width: 3.2rem;
    height: 3.2rem;
    background: #E0421B; /* fallack */
    background: -webkit-radial-gradient(35% 35%, circle closest-corner, #ff8957, #E0421B 100%);
    background: -moz-radial-gradient(35% 35%, circle closest-corner, #ff8957, #E0421B 100%);
    background: radial-gradient(35% 35%, circle closest-corner, #ff8957, #E0421B 100%);
    border-radius: 2em;
    border: .08em solid hsla(10, 90%, 55%, 1);
    box-shadow:
    2em 1em 0.2em 0 hsla(10, 90%, 45%, .5) inset, /* reflection */
    .04em .1em 0 hsla(10, 90%, 30%, 1), /* 3d */
    .08em .2em 0 hsla(10, 90%, 26%, 1),
    .12em .3em 0 hsla(10, 90%, 23%, 1),
    .1em .24em 0 .15em hsla(0, 0%, 15%, 1), /* hole */
    .1em .075em .5em rgba(0, 0, 0, .3), /* shadow */
    .3em .15em .5em rgba(0, 0, 0, .3),
    .6em .3em .5em rgba(0, 0, 0, .3),
    1.2em .6em .5em rgba(0, 0, 0, .3);
}
.action-pane .button:active {
    top: .40rem;
    left: .35rem;
    box-shadow:
    2em 1em 0.2em 0 hsla(10, 90%, 45%, .5) inset, /* reflection */
    .05em .1em 0 hsla(10,90%,30%,1), /* 3d */
    0 0 0 .15em hsla(0, 0%, 15%, 1), /* hole */
    .1em .075em .5em rgba(0,0,0,.3); /* shadow */
}
