/* 
 * Layout
 */
/*
 * General
 */
#app {
    align-items: vertically;
}
.genreList {
    display: flex;
    align-items: center;
    justify-content: center;
}
hide {
    display:none;
}
#player {
    font-family: Roboto, sans-serif;
}
/* 
 * Hi-resolution handling
 */
@media screen and (min-resolution: 2dppx) {
    /* Wide card with share menu button */
    #app span {
        font-size: 4rem;
    }
    h1 {
        font-size: 8rem;
    }
    h2 {
        font-size: 4em;
    }
    .mdl-button {
        height: 4rem;
    }
    /* Player */
    .demo-card-wide.mdl-card, .genreList {
        width: 90%;
        margin: 0 auto; 
    }
    .demo-card-wide.mdl-card, .genreList {
        width: 100%;
        margin: 0 auto; 
    }
    /* Player menu */
    #menu li {
        font-size: 4rem;
    }
    /*
    #menu > div > div, #menu > div > ul {
        height: 8rem;
    }
    */
    #demo-menu-lower-right {
        height: 10rem;
        width: 10rem;
    }
    #demo-menu-lower-right i.material-icons {
        font-size: 4em;
        transform: translate(-50%, -50%);
        width: unset;
        line-height: unset;
    }
    /* Player icons & buttons */
    #player i.material-icons {
        font-size: 5em;
    }
    #playerButtons button { 
        height: 7em;
        width: 7em;
    }
    #playerButtons i.material-icons {
        font-size: 6em;
        transform: translate(-50%, -50%);
        width: unset;
        line-height: unset;
    }
    #admin {
        width: 90%;
        margin: auto;
    }
    /* Genres list */
    .genreList button span {
        font-size: 3rem;
    }
    .genreList .mdl-button {
        height: 9rem;
    }
    /* Snackbar */
    #demo-snackbar-example {
        width: 100%;
        max-width: 100%;
        /*height: 10%;*/
    }
    
    #demo-snackbar-example * {
        font-size: 2rem;
    }
}
/* 
 * normal resolution handling
 */
@media screen and (max-resolution: 2dppx) {
    h1 {
        font-size: 5rem;
    }
    /* Wide card with share menu button */
    /* Player */
    .demo-card-wide.mdl-card, .genreList {
        width: 512px;
        margin: 0 auto; 
    }
    #player h2 {
        font-size: 2rem;
    }
    #player p > span {
        font-size: 1.5rem;
    }
    /* Player icons & buttons */
    #player i.material-icons {
        font-size: 3em;
        width: unset;
        line-height: unset;
    }
    #playerButtons button { 
        height: 4em;
        width: 4em;
    }
    #playerButtons i.material-icons {
        font-size: 3em;
        transform: translate(-50%, -50%);
        width: unset;
        line-height: unset;
    }
    /* Player menu */
    #menu li {
        font-size: 2rem;
    }
    /*
    #demo-menu-lower-right {
        height: 3rem;
        width: 3rem;
    }
    */
    #demo-menu-lower-right {
        height: 4rem;
        width: 4rem;
    }
    #demo-menu-lower-right i.material-icons {
        font-size: 2em;
        width: unset;
        line-height: unset;
        transform: translate(-50%, -50%);
    }
    /* Interface d'admin */
    #admin {
        width: 512px;
        margin: auto;
    }
    /*
    #menu > div > div, #menu > div > ul {
        height: 200px;
    }
    */
    /* Genres list */
    .genreList button span {
        font-size: 1rem;
    }
    .genreList .mdl-button {
        height: 3rem;
    }
}

/*
 * Specific elements
 */
button.hide {
    display:none;
}
/* Title */
h1 {
    width: 100%;
    text-align: center;
}
#player h2 > span, #player p > span {
    margin: auto;
}
/* Player */
#playerButtons {
    display: flex;
    align-items: center;
    justify-content: center;
}
#player span.separator {
    width: 5%;
}
#playerGenre {
    display: flex;
    align-items: center;
    justify-content: center;
}
#playerGenre i.material-icons {
    font-size: 1rem;
}
#playerArtist {
    font-face: "Roboto";
    font-weight: 500;
}
.genreList button {
    margin: 10px;
}
#app span {
    vertical-align: bottom;
}
/* Wide card with share menu button */
.demo-card-wide > .mdl-card__title {
    color: #fff;
    height: 176px;
    /*
    background: url('../assets/demos/welcome_card.jpg') center / cover;
    */
    background: rgb(0,188,212);
}
.demo-card-wide > .mdl-card__menu {
    color: #fff;
}
#downloadSong, #show-dialog {
    text-decoration: none;
    decoration: none;
}

/* Font stuff */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(/public/fonts/MD-icons/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(/public/fonts/MD-icons/MaterialIcons-Regular.woff2) format('woff2'),
    url(/public/fonts/MD-icons/MaterialIcons-Regular.woff) format('woff'),
    url(/public/fonts/MD-icons/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}
#fontdetectHelper {
    display: inline;
    visibility: visible;
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'),
    local('Roboto Light'),
    url(/public/fonts/Roboto/Roboto-Light.ttf) format('truetype');
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Regular'),
    local('Roboto Regular'),
    url(/public/fonts/Roboto/Roboto-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Medium'),
    local('Roboto Medium'),
    url(/public/fonts/Roboto/Roboto-Medium.ttf) format('truetype');
}
